@font-face {
    font-family: 'Bernhardt CG';
    src: url('../fonts/BernhardtCG/BernhardtCGMediumRegular.woff') format('woff');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Bernhardt CG Light';
    src: url('../fonts/BernhardtCG/BernhardtCGLightRegular.woff') format('woff');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}