@import "abstracts/vars";
@import "abstracts/mixins";
@import "abstracts/functions";

.component {
  &.rich-text {
    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
      color: $primary-color;
      @include Ubuntu-font-stack();
    }

    h1 {
      font-size: 3.1rem;
    }
    h2 {
      color: $black;
      font-size: 2.2rem;
      @include Roboto-font-stack();

      &.red-heading {
        color: $primary-color;
      }
    }
    h3 {
      font-size: 2.4rem;
      color: $black;
      @include Roboto-font-stack();
    }
    h4 {
      color: #565656;
    }
    a {
      color: $primary-color;
      text-decoration: none;

      &:hover {
        text-decoration: underline;
      }

      &.shop-btn {
        color: $white;
      }
    }

    .home-text {
      color: $primary-color;
    }

    .commitment-content {
      p {
        font-size: 2.4rem;
      }
    }

    .score-document-header{
      padding-bottom: 1rem;
    }

    .all-products {
      font-weight: 700;
      color: #565656;
      @include Ubuntu-font-stack();
    }

    .vet-petbird {
      h3 {
        font-size: 2.5rem;
        color: $primary-color;
      }
      p {
        font-size: 2rem;
        color: #808080;
      }
    }

    .vet-recommended {
      width: 80%;
      margin: auto;
      img {
        display: block;
        margin-left: auto;
        margin-right: auto;
      }
      h2 {
        font-size: 2.4rem;
      }
    }

    .image-left-header-text-right {
      display: flex;
      width: 60%;
      margin: auto;
      h2 {
        color: $primary-color;
      }
    }

    ul,
    ol {
      li {
        font-size: 1.6rem;
        color: $body-color;
        list-style-position: inherit;
      }
    }

    .big-white {
      h1,
      h2 {
        color: $white;
      }
    }

    ul.timeline {
      position: relative;
      padding: 2rem 0;
      li {
        position: relative;
        margin-bottom: 2rem;
        .timeline-panel {
          width: 75%;
          float: right;
          border: 1px solid #d4d4d4;
          border-radius: 2px;
          position: relative;
          padding: 2rem;
          box-shadow: 0 1px 6px rgba(0, 0, 0, 0.18);

          &::after {
            position: absolute;
            top: 2.7rem;
            right: auto;
            left: -1.4rem;
            display: inline-block;

            border-top: 1.4rem solid transparent;
            border-left: 0 solid #fff;
            border-right: 1.4rem solid #fff;
            border-bottom: 1.4rem solid transparent;
            content: " ";
          }
          &::before {
            position: absolute;
            top: 2.6rem;
            right: auto;
            left: -1.5rem;
            display: inline-block;
            border-top: 1.5rem solid transparent;
            border-left: 0 solid #ccc;
            border-right: 1.5rem solid #ccc;
            border-bottom: 1.5rem solid transparent;
            content: " ";
          }

          h4 {
            color: $body-color;
            font-size: 1.6rem;
            font-weight: 600;
            @include Ubuntu-font-stack();
          }
          p {
            font-size: 1.6rem;
          }
        }

        &::before,
        &::after {
          content: " ";
          display: table;
        }

        &::after {
          clear: both;
        }

        .timeline-badge {
          color: #fff;
          width: 5rem;
          height: 5rem;
          line-height: 5rem;
          font-size: 1.4em;
          text-align: center;
          position: absolute;
          top: 1.6rem;
          left: 1.5rem;
          margin-left: 0;
          background-color: #999999;
          z-index: 100;
          border-top-right-radius: 50%;
          border-top-left-radius: 50%;
          border-bottom-right-radius: 50%;
          border-bottom-left-radius: 50%;

          &.primary {
            background-color: #2e6da4;
          }
          &.info {
            background-color: #5bc0de;
          }
          &.success {
            background-color: #3f903f;
          }
        }
      }

      &::before {
        top: 0;
        bottom: 0;
        position: absolute;
        content: " ";
        width: 3px;
        background-color: #eeeeee;
        left: 4rem;
        margin-left: -1.5px;
      }
    }

    @include respond-to(tab) {
      ul.timeline {
        li {
          .timeline-panel {
            width: 46%;
            float: left;

            &::after {
              position: absolute;
              top: 2.7rem;
              right: -1.4rem;
              left: auto;
              border-left: 1.4rem solid #fff;
              border-right: 0 solid #fff;

              content: " ";
            }
            &::before {
              position: absolute;
              top: 2.6rem;
              right: -1.5rem;
              left: auto;
              border-left: 1.5rem solid #ccc;
              border-right: 0 solid #ccc;

              content: " ";
            }
          }

          &.timeline-inverted {
            .timeline-panel {
              float: right;

              &::after {
                border-left-width: 0;
                border-right-width: 1.4rem;
                left: -1.4rem;
                right: auto;
              }
              &::before {
                border-left-width: 0;
                border-right-width: 1.5rem;
                left: -1.5rem;
                right: auto;
              }
            }
          }

          .timeline-badge {
            left: 50%;
            margin-left: -2.5rem;
          }
        }

        &::before {
          left: 50%;
        }
      }
    }

    @include respond-to(desktop) {
      h1 {
        font-size: 4.4rem;
      }
      h2 {
        font-size: 3.2rem;
      }
    }
  }

  &.image {
    &.error-image {
      img {
        height: 45rem;
        width: 45rem;
      }
    }
    &.reg-image {
      img {
        width: 75%;
      }
    }
    &.bird-image {
      img {
        height: 25rem;
        max-width: fit-content;
      }
    }
  }
}

.feature-images {
  .image {
    img {
      padding: 0 3.5rem;
    }
  }
}

.exact-text {
  background: #fefafa;
}
