@import "abstracts/vars";
@import "abstracts/mixins";

.pdp-page {
  .component {
    &.video {
      iframe {
        width: 100%;
        min-height: 25rem;
      }
    }
  }
}

.component {
  &.video {
    iframe {
      width: 100%;
      min-height: 25rem;
      @include respond-to(tab) {
        min-height: 40rem;
      }
      @include respond-to(desktop) {
        min-height: 55rem;
      }
    }
  }
}
