@import "abstracts/vars";
@import "abstracts/mixins";

.component .hubspot-form input[type="submit"],
.component.content a.score-button,
.component.link.varieties-btn a,
.sxa-btn .sxa-btn-primary a,
.sxa-btn a {
  border-color: $primary-color;
  background-color: $primary-color;
  @include Roboto-font-stack();
  font-size: 2rem;
  font-weight: 700;
  color: $white;
  padding: 0.8rem 2rem;
  min-width: 20rem;
  border-radius: 0;
  text-decoration: none;

  &:hover,
  &:active {
    background-color: #cc0000;
    border-color: #c20000;
    text-decoration: none;
    cursor: pointer;
  }
}

@import "styles/forms/*";
