@import "abstracts/vars";
@import "abstracts/mixins";
@import "abstracts/functions";

.component {
  &.link {
    a {
      border-bottom: none;
      color: #6f9b38;
      font-size: 2.4rem;
      font-weight: 600;
      &:hover {
        text-decoration: underline;
      }
    }
    &.learn-more {
      a {
        color: $primary-color;
        font-size: 2.2rem;
        &:hover {
          text-decoration: underline;
        }
      }
    }

    @include respond-to(desktop) {
      &.learn-more {
        a {
          font-size: 3.2rem;
        }
      }
    }
  }
}
