@import "abstracts/vars";
@import "abstracts/mixins";
@import "abstracts/functions";

.product-category-banner-wrapper {

  

    @include respond-to(tab) {
        height: 450px;
    }

    .banner-wrapper {
        width: 100%;
        height: 100%;

        @include respond-to(tab) {
            display: flex;
        }

        .inner-container {
            width: 100%;
            display: block !important;
            padding: 20px;

            @include respond-to(tab) {
                width: 50%;
                padding: 10px;
                padding-left: 50px;
            }

            @include respond-to(desktop) {
                padding-left: 200px;
            }

            .banner-content-wrapper  {
                display: flex;
                flex-direction: column;
                justify-content: center;
                height: 100%;

                z-index: 2;
                position: relative;
                max-width: 114rem;
                width: 100%;

                .hero-banner-title {

                    h1 {
                        color: #000;
                        font-size: 3.5rem;
                    }
                }
            }
        }

        .banner-image {
            width: 100%;
            overflow: hidden;
            text-align: right;

            @include respond-to(tab) {
                width: 50%;
            }

            img {
                right: 0;
                
                bottom: 0px;
                width: 100%;
                max-width: 800px;

                @include respond-to(tab) {
                    position: absolute;
                    width: 50vw;
                }

            }
        }
    }
}

.hero-image-full {
    .product-category-banner-wrapper {

        .banner-wrapper {


            .inner-container {


                @include respond-to(tab) {

                }

                @include respond-to(desktop) {

                }

                .banner-content-wrapper  {

                    .hero-banner-title {

                        h1 {

                        }
                    }
                }
            }

            .banner-image {
                width: 50%;
                overflow: hidden;
                text-align: right;

                img {
                    width: 100%;
                    height: 100%;
                    max-width: 100%;

                    @include respond-to(tab) {
                        width: fit-content;
                        max-width: fit-content;
                        height: 35vw;
                        max-height: 450px;
                    }

                }
            }

            .banner-mobile-image {

                img {
                    width: 100vw;
                }
            }
        }
    }
}