@import "abstracts/vars";
@import "abstracts/mixins";
@import "abstracts/functions";

.component {
  &.product-details {
    &.variant-4 {
      .product-wrapper {
        h1 {
          font-size: 3.1rem;
          color: $primary-color;
          text-transform: none;
          @include Ubuntu-font-stack();
        }

        .body-copy {
          margin-bottom: 1rem;

          p {
            color: $body-color;

            strong {
              span {
                font-weight: 700;
              }
            }
          }
        }
      }
    }
  }

  &.productimage {
    .image-placeholder {
      border: none;
    }

    .inner-wrap {
      .image-container {

        .slick-next,
        .slick-prev {
    
          &::before,
          &::after {
            content: "\f061";
            color: $body-color;
            font-size: 15px;
            border-radius: 50%;
            padding: 0.4rem;
            transform: rotate(180deg);
          }
    
          &::after {
            display: none;
          }
    
          &:hover {
    
            &::before,
            &::after {
              background-color: $light-grey;
            }
          }
        }
    
        .slick-next {
          &::before {
            display: none;
          }
    
          &:after {
            display: block;
            transform: rotate(0deg);
          }
        }

        .field-image {
          img {
            border: 1px solid #ddd;
          }
        }
      }

      &:not(.iscarousel) {
        .image-container {
          >div {
            width: calc(33% - 1rem);
          }
        }
      }
    }
  }

  &.ps-widget[ps-sku] {
    margin: 1.5rem;
    max-width: fit-content;
  }

  &.product-variant {
    .where-to-buy {
      padding: 0;
    }

    h4 {
      color: $body-color;
    }

    select {
      background: #ddd;
      color: $body-color;
      font-size: 1.6rem;
    }

    ul {
      padding-inline-start: 4rem;

      li {
        font-size: 1.6rem;
        list-style: disc;
        line-height: $line-height;
      }
    }

    .product-description-accordion {
      .panel {
        box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05);

        .panel-heading {
          h4 {
            padding: 1.2rem 0;
            margin: auto;

            a {
              color: $body-color;
              @include Ubuntu-font-stack();

              &:hover {
                color: $primary-color;
              }

              &::after {
                content: ">";
                float: right;
                font-size: 2rem;
              }
            }

            a.collapsed {
              &::after {
                content: "^";
              }
            }
          }
        }

        .panel-body {
          padding: 1.5rem;
        }
      }
    }

    .dimensions,
    .weight {
      line-height: 1.5;

      h4 {
        @include Ubuntu-font-stack();
        color: #565656;
        font-weight: 600;
        margin: 1rem 0;
      }
    }

    .variant-id {
      line-height: 1.5;

      p {
        display: flex;
        flex-direction: column;
        font-weight: 600;
        color: #565656;
        @include Ubuntu-font-stack();

        span {
          font-weight: 400;
          @include Roboto-font-stack();
        }
      }
    }
  }

  @include respond-to(desktop) {
    &.product-details {
      &.variant-4 {
        .product-wrapper {
          h1 {
            font-size: 4.4rem;
          }
        }
      }
    }
  }
}