@import "abstracts/vars";
@import "abstracts/mixins";
@import "abstracts/functions";

.animal-filter {

    .animal-filter-container {

        .animal-filter-title {

        }

        .animal-filter-buttons {
            display: flex;
            width: 800px;
            margin: auto;
            justify-content: space-between;

            .filter-button {
                display: flex;

                .filter-button-icon {
                    position: relative;
                    top: 3px;
                    left: 5px;
                }

                .filter-button-label {

                }

                &.selected {
                    border-radius: 50px;
                    border: 4px solid #DDD;
                    background: #FFF;
                }
            }
        }

        .animal-filter-items-container {
            display: flex;

            .animal-filter-items {
                display: flex;
                width: 1000px;
                overflow: hidden;
                .animal-filter-item {

                }
            }            
        }

    }

}