@import "abstracts/vars";
@import "abstracts/mixins";
@import "abstracts/functions";

#curator-feed-wildbird-hub {
    margin: 2px;
    margin-top: 0px;
    padding: 20px;
    padding-bottom: 50px;
    padding-top: 50px; 
    overflow: hidden;
    width: 100%;
    
    @include respond-to(tab) {
        margin: auto;
        margin-bottom: 50px;
        padding: 50px;  
        max-width: 1366px; 
    }

        #curator-feed-kaytee-wild-birds-layout {


        &.crt-widget.crt-widget-carousel {



            @include respond-to(tab) {
                //width: 100vw;
                //max-width: 100vw;

                //left: -20vw; 
            }  

            @media screen and (min-width: 1200px) {
                //left: -300px; 
            }  
        }
    
        .crt-carousel-feed {

            .crt-carousel-stage {


                @include respond-to(tab) {
                    //left: 20px;
                    //width: 100%;
                    //max-height: 600px;

                    //left: 200px;
                    //max-height: none;
                }
            }        
        }

        .crt-panel-prev {
            @include respond-to(tab) {
                //top: unset;
                //bottom: -20px;
                //display: inline;
            }
        }

        .crt-panel-next {

            @include respond-to(tab) {
                //top: unset;
                //bottom: -20px;        
                //left: 100px;
                //display: inline;
            }

        }
    }

    .curator-copy {
        color: #263971;
        padding-right: 20px;
        padding-bottom: 50px;
        width: 100%;

        @include respond-to(tab) {
            width: 200px;
        }

        .curator-title {
            font-weight: 700;
            margin-bottom: 10px;
        }

        .curator-description {
            margin-bottom: 50px;
            font-size: 2rem;
            font-family: 'Bernhardt CG Light', sans-serif;
            letter-spacing: 0.05em;
        }

    }

 
}


