//Basic colors
$white: #fff;
$black: #000;
$red: #f00;
$body-color: #414141;
$primary-color: #f70915;
$light-grey:#d6d1ca;

$yellow: #F0B323;
$blue: #407EC9;
$green: #509E2F;

$yellow-light: #F7D588;
$blue-light: #B2CDED;
$green-light: #B1E29D;

$dark-green: #046A38;