/* breakpoints */
.content-tile-grid-background {
  width: 100%;
  padding: 50px;
}

.content-tile-grid-background .background-container {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.content-tile-grid-background .background-container img {
  width: 100%;
  height: 100%;
}

@media only screen and (min-width: 768px) {
  .content-tile-grid-background .background-container img.image-mobile {
    display: none;
  }
}

.content-tile-grid-background .background-container img.image-desktop {
  display: none;
}

@media only screen and (min-width: 768px) {
  .content-tile-grid-background .background-container img.image-desktop {
    display: block;
  }
}

.content-tile-grid-background .inner-container {
  width: 100%;
  max-width: 1000px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.content-tile-grid-background .inner-container .card {
  width: 100%;
  background-color: #DFF3F5;
  width: 313px;
  height: 100%;
  margin: 10px;
  border-radius: 10px;
  padding: 50px;
}

@media only screen and (min-width: 768px) {
  .content-tile-grid-background .inner-container .card {
    height: 275px;
  }
}

.content-tile-grid-background .inner-container .card .card-title h3 {
  text-align: center;
}

.content-tile-grid-background .inner-container .card .card-description {
  text-align: center;
}
