/* breakpoints */
#wildbird-hub-form {
  display: block;
  margin: 20px;
  padding: 20px;
  padding-bottom: 50px;
  height: 100%;
  border-bottom: 1px solid #CCCCCC;
  width: 100%;
}

@media only screen and (min-width: 768px) {
  #wildbird-hub-form {
    margin: auto;
    margin-bottom: 50px;
    padding: 50px;
    max-width: 1366px;
    padding-top: 0px;
    margin-top: 0px;
  }
}

#wildbird-hub-form .hubspot-form {
  width: 100%;
  max-width: 660px;
  margin: auto;
}

#wildbird-hub-form .hubspot-form .hs-form label span {
  color: #263971 !important;
}

#wildbird-hub-form .hubspot-form .hs-form label span::before {
  content: none !important;
}

#wildbird-hub-form .hubspot-form .hs-pet_kaytee_wild_bird_hub_newsletter {
  display: none;
}

#wildbird-hub-form .hubspot-form .hs-form-field label span {
  color: #000;
}

#wildbird-hub-form .hubspot-form .submitted-message {
  color: #263971;
  text-align: center;
  padding-top: 30px;
  font-weight: 700;
  font-size: 2rem;
}

#wildbird-hub-form .hubspot-form input, #wildbird-hub-form .hubspot-form select {
  border: 1px solid #263971 !important;
}

#wildbird-hub-form .hubspot-form input[type=submit] {
  font-weight: 400;
  border: none !important;
}

#wildbird-hub-form-header {
  display: block;
  margin: 20px;
  padding: 20px;
  height: 100%;
  padding-bottom: 0px;
  margin-bottom: 10px;
  width: 100%;
}

@media only screen and (min-width: 768px) {
  #wildbird-hub-form-header {
    margin: auto;
    padding: 50px;
    max-width: 1366px;
    padding-bottom: 0px;
    margin-bottom: 10px;
  }
}

#wildbird-hub-form-header .wildbird-hub-form-header-container {
  width: 100%;
  margin: auto;
  text-align: center;
  color: #263971;
}

@media only screen and (min-width: 768px) {
  #wildbird-hub-form-header .wildbird-hub-form-header-container {
    max-width: 700px;
  }
}

#wildbird-hub-form-header .wildbird-hub-form-header-container .subtitle {
  margin-bottom: 10px;
  font-weight: 700;
}

#wildbird-hub-form-header .wildbird-hub-form-header-container .title {
  margin-bottom: 20px;
}

#wildbird-hub-form-header .wildbird-hub-form-header-container .title h2 {
  color: #263971;
}

#wildbird-hub-form-header .wildbird-hub-form-header-container .description {
  margin-bottom: 30px;
  color: #000;
}

#wildbird-hub-form-header .wildbird-hub-form-header-container .interested {
  margin-bottom: 20px;
  font-weight: 700;
}

#wildbird-hub-form-header .wildbird-hub-form-header-container .options-contains {
  display: inline;
}

@media only screen and (min-width: 768px) {
  #wildbird-hub-form-header .wildbird-hub-form-header-container .options-contains {
    display: flex;
  }
}

#wildbird-hub-form-header .wildbird-hub-form-header-container .options-contains .option {
  display: flex;
  align-items: center;
  width: 200px;
  margin: auto;
  margin-bottom: 5px;
}

@media only screen and (min-width: 768px) {
  #wildbird-hub-form-header .wildbird-hub-form-header-container .options-contains .option {
    width: 33%;
    margin: 3px;
  }
}

#wildbird-hub-form-header .wildbird-hub-form-header-container .options-contains .option:hover {
  cursor: pointer;
}

#wildbird-hub-form-header .wildbird-hub-form-header-container .options-contains .option.selected {
  border: 1px solid #263971;
}

#wildbird-hub-form-header .wildbird-hub-form-header-container .options-contains .option .option-image {
  width: 25%;
  padding-top: 4px;
}

#wildbird-hub-form-header .wildbird-hub-form-header-container .options-contains .option .option-label {
  width: 75%;
  text-align: left;
}
