/* breakpoints */
.component.rich-text h1,
.component.rich-text h2,
.component.rich-text h3,
.component.rich-text h4,
.component.rich-text h5,
.component.rich-text h6 {
  color: #f70915;
  font-family: "Ubuntu", sans-serif;
}

.component.rich-text h1 {
  font-size: 3.1rem;
}

.component.rich-text h2 {
  color: #000;
  font-size: 2.2rem;
  font-family: "Roboto", sans-serif;
}

.component.rich-text h2.red-heading {
  color: #f70915;
}

.component.rich-text h3 {
  font-size: 2.4rem;
  color: #000;
  font-family: "Roboto", sans-serif;
}

.component.rich-text h4 {
  color: #565656;
}

.component.rich-text a {
  color: #f70915;
  text-decoration: none;
}

.component.rich-text a:hover {
  text-decoration: underline;
}

.component.rich-text a.shop-btn {
  color: #fff;
}

.component.rich-text .home-text {
  color: #f70915;
}

.component.rich-text .commitment-content p {
  font-size: 2.4rem;
}

.component.rich-text .score-document-header {
  padding-bottom: 1rem;
}

.component.rich-text .all-products {
  font-weight: 700;
  color: #565656;
  font-family: "Ubuntu", sans-serif;
}

.component.rich-text .vet-petbird h3 {
  font-size: 2.5rem;
  color: #f70915;
}

.component.rich-text .vet-petbird p {
  font-size: 2rem;
  color: #808080;
}

.component.rich-text .vet-recommended {
  width: 80%;
  margin: auto;
}

.component.rich-text .vet-recommended img {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.component.rich-text .vet-recommended h2 {
  font-size: 2.4rem;
}

.component.rich-text .image-left-header-text-right {
  display: flex;
  width: 60%;
  margin: auto;
}

.component.rich-text .image-left-header-text-right h2 {
  color: #f70915;
}

.component.rich-text ul li,
.component.rich-text ol li {
  font-size: 1.6rem;
  color: #414141;
  list-style-position: inherit;
}

.component.rich-text .big-white h1,
.component.rich-text .big-white h2 {
  color: #fff;
}

.component.rich-text ul.timeline {
  position: relative;
  padding: 2rem 0;
}

.component.rich-text ul.timeline li {
  position: relative;
  margin-bottom: 2rem;
}

.component.rich-text ul.timeline li .timeline-panel {
  width: 75%;
  float: right;
  border: 1px solid #d4d4d4;
  border-radius: 2px;
  position: relative;
  padding: 2rem;
  box-shadow: 0 1px 6px rgba(0, 0, 0, 0.18);
}

.component.rich-text ul.timeline li .timeline-panel::after {
  position: absolute;
  top: 2.7rem;
  right: auto;
  left: -1.4rem;
  display: inline-block;
  border-top: 1.4rem solid transparent;
  border-left: 0 solid #fff;
  border-right: 1.4rem solid #fff;
  border-bottom: 1.4rem solid transparent;
  content: " ";
}

.component.rich-text ul.timeline li .timeline-panel::before {
  position: absolute;
  top: 2.6rem;
  right: auto;
  left: -1.5rem;
  display: inline-block;
  border-top: 1.5rem solid transparent;
  border-left: 0 solid #ccc;
  border-right: 1.5rem solid #ccc;
  border-bottom: 1.5rem solid transparent;
  content: " ";
}

.component.rich-text ul.timeline li .timeline-panel h4 {
  color: #414141;
  font-size: 1.6rem;
  font-weight: 600;
  font-family: "Ubuntu", sans-serif;
}

.component.rich-text ul.timeline li .timeline-panel p {
  font-size: 1.6rem;
}

.component.rich-text ul.timeline li::before, .component.rich-text ul.timeline li::after {
  content: " ";
  display: table;
}

.component.rich-text ul.timeline li::after {
  clear: both;
}

.component.rich-text ul.timeline li .timeline-badge {
  color: #fff;
  width: 5rem;
  height: 5rem;
  line-height: 5rem;
  font-size: 1.4em;
  text-align: center;
  position: absolute;
  top: 1.6rem;
  left: 1.5rem;
  margin-left: 0;
  background-color: #999999;
  z-index: 100;
  border-top-right-radius: 50%;
  border-top-left-radius: 50%;
  border-bottom-right-radius: 50%;
  border-bottom-left-radius: 50%;
}

.component.rich-text ul.timeline li .timeline-badge.primary {
  background-color: #2e6da4;
}

.component.rich-text ul.timeline li .timeline-badge.info {
  background-color: #5bc0de;
}

.component.rich-text ul.timeline li .timeline-badge.success {
  background-color: #3f903f;
}

.component.rich-text ul.timeline::before {
  top: 0;
  bottom: 0;
  position: absolute;
  content: " ";
  width: 3px;
  background-color: #eeeeee;
  left: 4rem;
  margin-left: -1.5px;
}

@media only screen and (min-width: 768px) {
  .component.rich-text ul.timeline li .timeline-panel {
    width: 46%;
    float: left;
  }
  .component.rich-text ul.timeline li .timeline-panel::after {
    position: absolute;
    top: 2.7rem;
    right: -1.4rem;
    left: auto;
    border-left: 1.4rem solid #fff;
    border-right: 0 solid #fff;
    content: " ";
  }
  .component.rich-text ul.timeline li .timeline-panel::before {
    position: absolute;
    top: 2.6rem;
    right: -1.5rem;
    left: auto;
    border-left: 1.5rem solid #ccc;
    border-right: 0 solid #ccc;
    content: " ";
  }
  .component.rich-text ul.timeline li.timeline-inverted .timeline-panel {
    float: right;
  }
  .component.rich-text ul.timeline li.timeline-inverted .timeline-panel::after {
    border-left-width: 0;
    border-right-width: 1.4rem;
    left: -1.4rem;
    right: auto;
  }
  .component.rich-text ul.timeline li.timeline-inverted .timeline-panel::before {
    border-left-width: 0;
    border-right-width: 1.5rem;
    left: -1.5rem;
    right: auto;
  }
  .component.rich-text ul.timeline li .timeline-badge {
    left: 50%;
    margin-left: -2.5rem;
  }
  .component.rich-text ul.timeline::before {
    left: 50%;
  }
}

@media only screen and (min-width: 992px) {
  .component.rich-text h1 {
    font-size: 4.4rem;
  }
  .component.rich-text h2 {
    font-size: 3.2rem;
  }
}

.component.image.error-image img {
  height: 45rem;
  width: 45rem;
}

.component.image.reg-image img {
  width: 75%;
}

.component.image.bird-image img {
  height: 25rem;
  max-width: -webkit-fit-content;
  max-width: -moz-fit-content;
  max-width: fit-content;
}

.feature-images .image img {
  padding: 0 3.5rem;
}

.exact-text {
  background: #fefafa;
}
