/* breakpoints */
#curator-feed-wildbird-hub {
  margin: 2px;
  margin-top: 0px;
  padding: 20px;
  padding-bottom: 50px;
  padding-top: 50px;
  overflow: hidden;
  width: 100%;
}

@media only screen and (min-width: 768px) {
  #curator-feed-wildbird-hub {
    margin: auto;
    margin-bottom: 50px;
    padding: 50px;
    max-width: 1366px;
  }
}

#curator-feed-wildbird-hub .curator-copy {
  color: #263971;
  padding-right: 20px;
  padding-bottom: 50px;
  width: 100%;
}

@media only screen and (min-width: 768px) {
  #curator-feed-wildbird-hub .curator-copy {
    width: 200px;
  }
}

#curator-feed-wildbird-hub .curator-copy .curator-title {
  font-weight: 700;
  margin-bottom: 10px;
}

#curator-feed-wildbird-hub .curator-copy .curator-description {
  margin-bottom: 50px;
  font-size: 2rem;
  font-family: 'Bernhardt CG Light', sans-serif;
  letter-spacing: 0.05em;
}
