/* breakpoints */
.copy-image-full-banner {
  display: flex;
  width: 100%;
  height: 670px;
  background-color: #C01F3A;
  position: relative;
}

.copy-image-full-banner .background-image {
  position: absolute;
  top: -95px;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: 9999;
}

.copy-image-full-banner .left-container {
  width: 50%;
}

.copy-image-full-banner .right-container {
  width: 50%;
}
