/* breakpoints */
@media only screen and (min-width: 768px) {
  .product-category-banner-wrapper {
    height: 450px;
  }
}

.product-category-banner-wrapper .banner-wrapper {
  width: 100%;
  height: 100%;
}

@media only screen and (min-width: 768px) {
  .product-category-banner-wrapper .banner-wrapper {
    display: flex;
  }
}

.product-category-banner-wrapper .banner-wrapper .inner-container {
  width: 100%;
  display: block !important;
  padding: 20px;
}

@media only screen and (min-width: 768px) {
  .product-category-banner-wrapper .banner-wrapper .inner-container {
    width: 50%;
    padding: 10px;
    padding-left: 50px;
  }
}

@media only screen and (min-width: 992px) {
  .product-category-banner-wrapper .banner-wrapper .inner-container {
    padding-left: 200px;
  }
}

.product-category-banner-wrapper .banner-wrapper .inner-container .banner-content-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100%;
  z-index: 2;
  position: relative;
  max-width: 114rem;
  width: 100%;
}

.product-category-banner-wrapper .banner-wrapper .inner-container .banner-content-wrapper .hero-banner-title h1 {
  color: #000;
  font-size: 3.5rem;
}

.product-category-banner-wrapper .banner-wrapper .banner-image {
  width: 100%;
  overflow: hidden;
  text-align: right;
}

@media only screen and (min-width: 768px) {
  .product-category-banner-wrapper .banner-wrapper .banner-image {
    width: 50%;
  }
}

.product-category-banner-wrapper .banner-wrapper .banner-image img {
  right: 0;
  bottom: 0px;
  width: 100%;
  max-width: 800px;
}

@media only screen and (min-width: 768px) {
  .product-category-banner-wrapper .banner-wrapper .banner-image img {
    position: absolute;
    width: 50vw;
  }
}

.hero-image-full .product-category-banner-wrapper .banner-wrapper .banner-image {
  width: 50%;
  overflow: hidden;
  text-align: right;
}

.hero-image-full .product-category-banner-wrapper .banner-wrapper .banner-image img {
  width: 100%;
  height: 100%;
  max-width: 100%;
}

@media only screen and (min-width: 768px) {
  .hero-image-full .product-category-banner-wrapper .banner-wrapper .banner-image img {
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
    max-width: -webkit-fit-content;
    max-width: -moz-fit-content;
    max-width: fit-content;
    height: 35vw;
    max-height: 450px;
  }
}

.hero-image-full .product-category-banner-wrapper .banner-wrapper .banner-mobile-image img {
  width: 100vw;
}
