/* breakpoints */
.video-icon-cta-hero .field-wrap {
  position: absolute;
  width: 100%;
  max-width: 1000px;
  height: 400px;
  text-align: center;
  top: 55%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 4;
  padding: 10px;
}

@media only screen and (min-width: 768px) {
  .video-icon-cta-hero .field-wrap {
    top: 50%;
  }
}

.video-icon-cta-hero .field-wrap h1 {
  color: #fff;
  font-weight: 400;
  font-family: 'Bernhardt CG Light', sans-serif;
  font-size: 7vw;
}

@media only screen and (min-width: 992px) {
  .video-icon-cta-hero .field-wrap h1 {
    font-size: 5.5em;
  }
}

.video-icon-cta-hero .video-container {
  overflow: hidden;
  height: 100%;
  position: relative;
}

@media screen and (min-width: 900px) {
  .video-icon-cta-hero .video-container {
    height: 500px;
  }
}

.video-icon-cta-hero .video-container video {
  width: 100%;
}

.video-icon-cta-hero .video-container .volume-container {
  position: absolute;
  right: 10px;
  bottom: 40px;
  overflow: hidden;
  z-index: 5;
}

.video-icon-cta-hero .video-container .volume-container:hover {
  cursor: pointer;
}

@media screen and (min-width: 768px) {
  .video-icon-cta-hero .video-container .volume-container {
    right: 30px;
    bottom: 100px;
  }
}

@media screen and (min-width: 1070px) {
  .video-icon-cta-hero .video-container .volume-container {
    right: 30px;
    bottom: 0px;
  }
}

.video-icon-cta-hero .video-container .volume-container .volume-on {
  display: none;
  position: relative;
  right: 0px;
  top: 0px;
  width: 30px;
}

.video-icon-cta-hero .video-container .volume-container .volume-on.show {
  display: block;
}

.video-icon-cta-hero .video-container .volume-container .volume-off {
  display: none;
  position: relative;
  right: 0px;
  top: 0px;
  width: 30px;
}

.video-icon-cta-hero .video-container .volume-container .volume-off.show {
  display: block;
}

.video-icon-cta-hero .video-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.4);
  z-index: 1;
  overflow: hidden;
  height: calc(100% - 5px);
}

@media screen and (min-width: 900px) {
  .video-icon-cta-hero .video-overlay {
    height: 500px;
  }
}

.video-icon-cta-hero .icon-cta-container {
  display: inline-block;
  width: 97.5%;
  max-width: 950px;
  margin: auto;
  position: relative;
  top: -50px;
  z-index: 5;
}

@media screen and (min-width: 768px) {
  .video-icon-cta-hero .icon-cta-container {
    width: 100%;
    display: flex;
    top: -100px;
  }
}

@media screen and (min-width: 850px) {
  .video-icon-cta-hero .icon-cta-container {
    top: -60px;
  }
}

.video-icon-cta-hero .icon-cta-container .icon-cta {
  text-align: center;
  margin: 5px;
  max-width: 100%;
  width: 100%;
  height: 70px;
  padding-top: 0px;
  width: 100%;
  border-radius: 3px;
}

@media only screen and (min-width: 768px) {
  .video-icon-cta-hero .icon-cta-container .icon-cta {
    max-width: 300px;
    width: 100%;
    height: 200px;
    padding-top: 20px;
  }
}

.video-icon-cta-hero .icon-cta-container .icon-cta a {
  text-decoration: none;
  color: #fff;
  display: flex;
  justify-content: center;
  pointer-events: none;
  position: relative;
}

.video-icon-cta-hero .icon-cta-container .icon-cta a h2 {
  font-size: 2rem;
  color: #fff;
  font-family: 'Bernhardt CG', sans-serif;
  letter-spacing: 0.1em;
  padding-top: 10px;
  font-weight: 400;
}

@media only screen and (min-width: 768px) {
  .video-icon-cta-hero .icon-cta-container .icon-cta a h2 {
    font-weight: 700;
  }
}

.video-icon-cta-hero .icon-cta-container .icon-cta a .front {
  display: flex;
  width: 100%;
  padding-left: 10px;
  padding-top: 10px;
}

@media only screen and (min-width: 768px) {
  .video-icon-cta-hero .icon-cta-container .icon-cta a .front {
    position: absolute;
    display: block;
    width: 100%;
    padding-top: 10px;
  }
}

.video-icon-cta-hero .icon-cta-container .icon-cta a .front svg {
  width: 50px;
  height: auto;
  margin: auto;
  margin-right: 10px;
}

@media only screen and (min-width: 768px) {
  .video-icon-cta-hero .icon-cta-container .icon-cta a .front svg {
    width: 100px;
  }
}

.video-icon-cta-hero .icon-cta-container .icon-cta a .front .title {
  padding-top: 5px;
  position: relative;
}

.video-icon-cta-hero .icon-cta-container .icon-cta a .front .title::after {
  content: '';
  display: none;
  width: 20px;
  height: 20px;
  background-image: url("../images/iicon.svg");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  margin-left: 10px;
  position: absolute;
  left: 65vw;
  top: 16px;
}

@media only screen and (min-width: 768px) {
  .video-icon-cta-hero .icon-cta-container .icon-cta a .front .title::after {
    content: none;
  }
}

.video-icon-cta-hero .icon-cta-container .icon-cta a .back {
  opacity: 0;
  width: 100px;
  position: relative;
  padding-top: 5px;
  display: none;
}

@media only screen and (min-width: 768px) {
  .video-icon-cta-hero .icon-cta-container .icon-cta a .back {
    width: 100%;
    padding-top: 30px;
    display: inline-block;
  }
}

.video-icon-cta-hero .icon-cta-container .icon-cta a .back .line-1 {
  font-weight: 700;
  margin-top: 10px;
}

.video-icon-cta-hero .icon-cta-container .icon-cta a .back .line-2 {
  color: #000;
  margin-top: 10px;
}

.video-icon-cta-hero .icon-cta-container .icon-cta a .back .line-3 {
  text-decoration: underline;
  text-transform: uppercase;
  font-weight: 700;
  margin-top: 10px;
}

@media (hover: hover) and (pointer: fine) {
  .video-icon-cta-hero .icon-cta-container .icon-cta:hover {
    cursor: pointer;
  }
  .video-icon-cta-hero .icon-cta-container .icon-cta:hover a .front {
    opacity: 0;
    transition: opacity 0.3s ease-in;
  }
  .video-icon-cta-hero .icon-cta-container .icon-cta:hover a .back {
    opacity: 1;
    transition: opacity 0.3s ease-in;
  }
}

.video-icon-cta-hero .icon-cta-container .icon-cta.yellow {
  background-color: #F0B323;
}

.video-icon-cta-hero .icon-cta-container .icon-cta.yellow a .back {
  color: #5F4507;
  background-color: #F7D588;
}

.video-icon-cta-hero .icon-cta-container .icon-cta.blue {
  background-color: #407EC9;
}

.video-icon-cta-hero .icon-cta-container .icon-cta.blue a .back {
  color: #263971;
  background-color: #B2CDED;
}

.video-icon-cta-hero .icon-cta-container .icon-cta.green {
  background-color: #509E2F;
}

.video-icon-cta-hero .icon-cta-container .icon-cta.green a .back {
  color: #284F17;
  background-color: #B1E29D;
}

@media (hover: hover) and (pointer: fine) {
  .video-icon-cta-hero .icon-cta-container .icon-cta:hover.yellow {
    background-color: #F7D588;
  }
  .video-icon-cta-hero .icon-cta-container .icon-cta:hover.blue {
    background-color: #B2CDED;
  }
  .video-icon-cta-hero .icon-cta-container .icon-cta:hover.green {
    background-color: #B1E29D;
  }
}

.video-icon-cta-hero .fixed-navigation {
  width: 100%;
  height: 70px;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;
  justify-content: center;
  align-items: center;
  background-color: #fcf9ee;
  display: none;
}

.video-icon-cta-hero .fixed-navigation.show {
  display: flex;
}

.video-icon-cta-hero .fixed-navigation a {
  color: #263971;
  text-decoration: none;
  font-weight: 700;
  padding: 9px;
  text-align: center;
  width: 33%;
}

@media only screen and (min-width: 768px) {
  .video-icon-cta-hero .fixed-navigation a {
    padding: 10px;
    width: 250px;
  }
}

#wildbirds-audio {
  display: none;
}
