/* breakpoints */
.component .hubspot-form input[type="submit"],
.component.content a.score-button,
.component.link.varieties-btn a,
.sxa-btn .sxa-btn-primary a,
.sxa-btn a {
  border-color: #f70915;
  background-color: #f70915;
  font-family: "Roboto", sans-serif;
  font-size: 2rem;
  font-weight: 700;
  color: #fff;
  padding: 0.8rem 2rem;
  min-width: 20rem;
  border-radius: 0;
  text-decoration: none;
}

.component .hubspot-form input[type="submit"]:hover, .component .hubspot-form input[type="submit"]:active,
.component.content a.score-button:hover,
.component.content a.score-button:active,
.component.link.varieties-btn a:hover,
.component.link.varieties-btn a:active,
.sxa-btn .sxa-btn-primary a:hover,
.sxa-btn .sxa-btn-primary a:active,
.sxa-btn a:hover,
.sxa-btn a:active {
  background-color: #cc0000;
  border-color: #c20000;
  text-decoration: none;
  cursor: pointer;
}
