/* breakpoints */
.component.article-listing #article-type .product-list .cgp-product .body-copy h3 {
  padding: 2rem 0 1rem 0;
}

.component.article-listing #article-type .product-list .cgp-product .body-copy h3 a {
  font-size: 2.4rem;
  font-family: "Roboto", sans-serif;
}

.component.article-listing #article-type .product-list .cgp-product .body-copy h3 a:hover {
  color: #f70915;
  text-decoration: underline;
}

.component.article-listing #article-type .product-list .cgp-product .body-copy p {
  font-size: 1.6rem;
  color: #333;
}

@media only screen and (min-width: 992px) {
  .component.article-listing #article-type .product-list .cgp-product {
    display: flex;
  }
  .component.article-listing #article-type .product-list .cgp-product .image-holder {
    max-width: 45%;
  }
  .component.article-listing #article-type .product-list .cgp-product .body-copy {
    max-width: 55%;
    padding: 0 1rem;
  }
}
